@import '../variables.css';

.searchArea {
  text-align: center;
  margin-bottom: 60px;
}

.searchArea h2 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px;
  line-height: 1;
}

.searchArea h2 .searchIcon {
  display: inline-block;
  padding: 0 0 0 36px;
  font-size: 24px;
  -webkit-background-size: 21px auto;
  -o-background-size: 21px auto;
  background-size: 21px auto;
  background: url('./ico_search.png') no-repeat left center;
}

.searchArea input {
  background-image: -webkit-linear-gradient(hsla(0,0%,100%,0), hsla(0,0%,100%,0));
}

.searchArea input[type="text"] {
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 188px;
  margin-right: 5px;
  height: 34px;
  line-height: 34px;
  font-size: 14px;
  -webkit-transition: all .15s;
  -moz-transition: all .15s;
  -ms-transition: all .15s;
  -o-transition: all .15s;
  transition: all .15s;
  vertical-align: middle;
  padding: 0 5px;
}

.searchArea input:focus {
  outline: 0;
}

.searchArea input[type="text"]:focus {
  border-color: #999;
}

.searchArea .btnSearch {
  cursor: pointer;
  text-indent: -9999px;
  white-space: nowrap;
  border-radius: 5px;
  width: 36px;
  height: 36px;
  color: #fff;
  background: url('./ico_search_white.png') no-repeat center center;
  background-color: #454545;
  border: none;
  transition: opacity 0.15s ease-in-out;
}

.searchArea .btnSearch:hover {
  opacity: 0.7;
}
